[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
peewee = "*"
rich = "*"
attrs = "*"
click = "*"
arrow = "*"

[dev-packages]
bump2version = "*"
watchdog = "*"
tox = "*"
pytest = "*"
pytest-runner = "*"
pytest-cov = "*"
Sphinx = ">=1.4"
sphinx-book-theme = "*"
twine = "*"
pre-commit = "*"
myst-parser = "*"
linkify-it-py = "*"

[requires]
python_version = "3.8"
