[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
bump2version = "*"
watchdog = "*"
flake8 = "*"
tox = "*"
click = "*"
pytest = "*"
pytest-runner = "*"
pytest-cov = "*"
Sphinx = ">=1.4"
recommonmark = "*"
sphinx-book-theme = "*"

[requires]
python_version = "3.9"
