-i https://pypi.org/simple/
arrow==1.0.2
attrs==20.3.0
click==7.1.2
colorama==0.4.4
commonmark==0.9.1
peewee==3.14.2
pygments==2.8.1
python-dateutil==2.8.1
rich==9.13.0
six==1.15.0
typing-extensions==3.7.4.3
